.sidebar {
  width: 220px;
  height: 125vh;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px;
  border-radius: 6px;
}

.sidebar a:hover {
  background: #334155;
}